@CHARSET "UTF-8";
#court{
       background: url('zona.png')no-repeat center center;
       background-size: contain;
       width: 1000px;
       height: 1000px;
}
.player{
        width: 50px;
        height: 50px;
}
#player1{
        background: url('1.png')no-repeat center center;
        background-size: contain;

}
#player2{
        background: url('2.png')no-repeat center center;       
        background-size: contain;
}
#player3{
        background: url('3.png')no-repeat center center;
        background-size: contain;
}
#player4{
        background: url('4.png')no-repeat center center;
        background-size: contain;
}
#player5{
        background: url('5.png')no-repeat center center;
        background-size: contain;
}
.ball{
        background: url('ball.jpg')no-repeat center center;
        width: 50px;
        height: 50 px;
}
